OpenGL_Wpf/Connected Services/WCF_InSitU/Wcf_InSituService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://InSitU.Views.ThreeD" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://InSitU.Views.ThreeD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://InSitU.Views.ThreeD/Imports">
      <xsd:import schemaLocation="http://localhost:8000/InSitU/InSitUCore/Communication/WCF/Wcf_InSituService?xsd=xsd0" namespace="http://InSitU.Views.ThreeD" />
      <xsd:import schemaLocation="http://localhost:8000/InSitU/InSitUCore/Communication/WCF/Wcf_InSituService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcf_InSitu_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_ListDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDocument" />
  </wsdl:message>
  <wsdl:message name="IWcf_InSitu_ListDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcf_InSitu">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/Add" message="tns:IWcf_InSitu_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/AddResponse" message="tns:IWcf_InSitu_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/Subtract" message="tns:IWcf_InSitu_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/SubtractResponse" message="tns:IWcf_InSitu_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/Multiply" message="tns:IWcf_InSitu_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/MultiplyResponse" message="tns:IWcf_InSitu_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDocument">
      <wsdl:input wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/ListDocument" message="tns:IWcf_InSitu_ListDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://InSitU.Views.ThreeD/IWcf_InSitu/ListDocumentResponse" message="tns:IWcf_InSitu_ListDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>